
:root {
    --yellow: rgb(239, 168, 76);
    --btn-yellow: #FFA026;
    --playFair-font:"Playfair Display", serif
  }
.video-player{
    z-index: 1000;
    position: fixed;
    top: 0;bottom: 0;left: 0;right: 0;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0, 0.799);
    z-index: 1000;
    position: fixed;
    top: 0;bottom: 0;left: 0;right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .5s ease-out;
}
.video-player video{
    width: 800px;
}
.video-player i{
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 3.2rem;
    cursor: pointer;
}
.video-player i:hover{
    color: var(--yellow);
    font-size: 40px;
    rotate: 90deg;
}

/* ----------responsive----------- */
@media (max-width:815px) {
    .video-player video{
        width: 90vmin;
    }
    
}